@media screen and (max-width: 35em) {
    body{
        
        font-size: 0.8em; 
    }
    .mainnav{padding: 1em;
        
        
    }
    nav a{
       padding: 2px;
        
    }
    nav li{font-size: 1.5em;
        
        height: 2em;
        list-style-type: none;
        text-align: center
    
    }     
   
    p{padding: 1em;}
    img{width: 100%;}
    

}



@media screen and (min-width:35em) and (max-width: 60em) {
    nav{
        font-size: 1.2em;
        height: 2.3em;
    }
    nav li{
    display: inline;
    padding: 3.5%
   }
    
    nav ul{ 
        text-align:center;
    }
 
    body{font-size: 1em;}  
    
    h2{
  padding: 0 2rem;
  font-size: 2.5rem;
  line-height: 3;
  color: #444;

}
    h3{
  padding: 0 2rem;
  font-size: 1.6rem;
  line-height: 3;
	margin-top: em; 


    }
   p{
  padding: 0 2rem 1rem;
  font-size: 1rem;
    
    }
    main{float:left;width:63%;}
    
    aside{float:right;width:36%;
    margin-top: 8em;}
 img{width: 100%;}

    footer{
    position: relative;
	margin-top: -3em; 
	height: 7em;
	clear:both;
    }


}







@media screen and (min-width: 60em)  {
    
    
    body{max-width: 1600px;font-size: 1.5em;}  
    nav{
    float: left;width: 23%;height:200px;
      margin-right:1%;
         margin-left:1%;
    
        
    }
    
    h2{margin-top: -43px}
    main{float: left;max-width:50%;
    
	
	-moz-column-count:2;
	-webkit-column-count:2;
}
    
    aside{float:right;width:23%;
    margin-top: -1em;
    margin-left: 2%;}
    
 
 img{width: 100%;}
    
    footer{
    position: relative;
	margin-top: -3em; 
	height: 7em;
	clear:both;
    }
    
    
    
    
}

h1{color: chocolate}
.mainnav{
     background-color: coral;
    }
body{background-color: darksalmon}
h2{
   color: beige;
    
}

h3{color: brown}
h1{text-align: center;
margin-bottom: 2.6em;
margin-top: 2em}
p{font-family: 'Slabo 27px', serif;}
 nav a{text-decoration: none; 
        color: darkorchid
    }

 nav li{font-family: sans-serif;
    }     

